@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.cardChose{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
    height: 100%;
    width: 100%;
    padding: 1.5rem;
    transition: 0.3s;
    text-align: center;
    font-weight: 400;
    text-decoration: none;

}
a{
    text-decoration: none;
    color: white;
}
.cardChose a{
    color: white;
    text-decoration: none;
}
.header{
    background-color: #525252;
    padding: 0;
    margin: 0;
}

/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Raleway, sans-serif;
    background-color: #1c1c1c;
    color: #fff;

}

/* Header styling */



.cardChose:hover{
    scale: 1.05;
}