*{padding: 0; margin: 0; box-sizing: border-box;}

/* DIZAJN SZINEK */
:root {
    --lightSquare: #CD8987;
    --darkSquare: #CDD6DD;
    --backgroundColor: rgb(32, 31, 31);
    --highlight: orange;
    --legalMove: orange;
}



#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 75px);
    grid-template-rows: repeat(8, 75px);
    width: 600px;
    height: 600px;
    border: 4px solid #333;
    border-radius: 2px;
    margin-top: 150px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--backgroundColor);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
.hz{
    position: absolute;
    top: 30px;     /* távolság a lap tetejétől */
    left: 670px;    /* távolság a bal oldaltól */
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 8px 12px;
    z-index: 10;   /* hogy a tábla fölött maradjon */
}

@keyframes colorFlash {
    0% { background-color: red; }
    25% { background-color: yellow; }
    50% { background-color: blue; }
    75% { background-color: green; }
    100% { background-color: red; }
}

.flash-square {
    animation: colorFlash 0.8s linear 8; /* Change 0.3s for faster/slower flashing */
}



.GMtag{
    background-color: rgb(141, 14, 14);
    margin-right: 11px;
    border-radius: 4px;
    padding: 5px;
}
.hz img{
   width: 190px;
   height: 180px;
}
.hz h3{
    color: #fff;
}
.hz h4{
    color: #fff;
}
/*box div jobbra*/
.box{
    position: absolute;
    left: calc(50% + 300px + 20px);
    top: calc(50% - 300px); 
    width: 500px;
    height: 680px;
    display: flex;
    flex-direction: row;          
    align-items: flex-start;     
    background-color: #1c1f20;
    border-radius: 8px;
    padding: 10px;
    gap: 20px;                   
    z-index: 5;
}
.box img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0;
}
.move-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    border-radius: 50%;
}
.move-box p{
    padding: 30px;
    color: var(--backgroundColor);
    background-color: #ffff;
    border-radius: 5%;
}


.square {
    width: 75px;
    height: 75px;
}

.light-square {
    background-color: var(--lightSquare);
}

.dark-square {
    background-color: var(--darkSquare);
}

.piece {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
  
.pawn-w    { background-image: url("./pieces-svg/wp.svg"); }
.rook-w    { background-image: url("./pieces-svg/wr.svg"); }
.knight-w  { background-image: url("./pieces-svg/wn.svg"); }
.bishop-w  { background-image: url("./pieces-svg/wb.svg"); }
.queen-w   { background-image: url("./pieces-svg/wq.svg"); }
.king-w    { background-image: url("./pieces-svg/wk.svg"); }

.pawn-b    { background-image: url("./pieces-svg/bp.svg"); }
.rook-b    { background-image: url("./pieces-svg/br.svg"); }
.knight-b  { background-image: url("./pieces-svg/bn.svg"); }
.bishop-b  { background-image: url("./pieces-svg/bb.svg"); }
.queen-b   { background-image: url("./pieces-svg/bq.svg"); }
.king-b    { background-image: url("./pieces-svg/bk.svg"); }


.highlighted {
    opacity: 0.75;
  }
  

.legalMove{
    opacity: 0.75;
    
}

