/* DIZAJN SZINEK */
:root {
    --lightSquare: #CD8987;
    --darkSquare: #CDD6DD;
    --backgroundColor: rgb(32, 31, 31);
    --highlight: orange;
    --legalMove: orange;
}



#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 75px);
    grid-template-rows: repeat(8, 75px);
    width: 600px;
    height: 600px;
    border: 4px solid #333;
    border-radius: 2px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--backgroundColor);
    
}




.square {
    width: 75px;
    height: 75px;
}

.light-square {
    background-color: var(--lightSquare);
}

.dark-square {
    background-color: var(--darkSquare);
}

.piece {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
  
.pawn-w    { background-image: url("./pieces-svg/pawn-w.svg"); }
.rook-w    { background-image: url("./pieces-svg/rook-w.svg"); }
.knight-w  { background-image: url("./pieces-svg/knight-w.svg"); }
.bishop-w  { background-image: url("./pieces-svg/bishop-w.svg"); }
.queen-w   { background-image: url("./pieces-svg/queen-w.svg"); }
.king-w    { background-image: url("./pieces-svg/king-w.svg"); }

.pawn-b    { background-image: url("./pieces-svg/pawn-b.svg"); }
.rook-b    { background-image: url("./pieces-svg/rook-b.svg"); }
.knight-b  { background-image: url("./pieces-svg/knight-b.svg"); }
.bishop-b  { background-image: url("./pieces-svg/bishop-b.svg"); }
.queen-b   { background-image: url("./pieces-svg/queen-b.svg"); }
.king-b    { background-image: url("./pieces-svg/king-b.svg"); }


.highlighted {
    outline: 3px solid var(--highlight);
    outline-offset: -3px;
  }
  

.legalMove{
    outline: 3px solid var(--legalMove);
    outline-offset: -3px;
    
}