*{padding: 0; margin: 0; box-sizing: border-box;}

/* DIZAJN SZINEK */
:root {
    --lightSquare: #CD8987;
    --darkSquare: #CDD6DD;
    --backgroundColor: rgb(32, 31, 31);
    --highlight: orange;
    --legalMove: orange;
}



#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 75px);
    grid-template-rows: repeat(8, 75px);
    width: 600px;
    height: 600px;
    border: 4px solid #333;
    border-radius: 2px;
    margin: 3rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--backgroundColor);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
.hz{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.GMtag{
    background-color: rgb(141, 14, 14);
    margin-right: 11px;
    border-radius: 4px;
    padding: 5px;
}
.hz img{
   width: 200px;
   height: 200px;
}
.hz h3{
    color: #fff;
}
.hz h4{
    color: #fff;
}


.square {
    width: 75px;
    height: 75px;
}

.light-square {
    background-color: var(--lightSquare);
}

.dark-square {
    background-color: var(--darkSquare);
}

.piece {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
  
.pawn-w    { background-image: url("./pieces-svg/wp.svg"); }
.rook-w    { background-image: url("./pieces-svg/wr.svg"); }
.knight-w  { background-image: url("./pieces-svg/wn.svg"); }
.bishop-w  { background-image: url("./pieces-svg/wb.svg"); }
.queen-w   { background-image: url("./pieces-svg/wq.svg"); }
.king-w    { background-image: url("./pieces-svg/wk.svg"); }

.pawn-b    { background-image: url("./pieces-svg/bp.svg"); }
.rook-b    { background-image: url("./pieces-svg/br.svg"); }
.knight-b  { background-image: url("./pieces-svg/bn.svg"); }
.bishop-b  { background-image: url("./pieces-svg/bb.svg"); }
.queen-b   { background-image: url("./pieces-svg/bq.svg"); }
.king-b    { background-image: url("./pieces-svg/bk.svg"); }


.highlighted {
    opacity: 0.75;
  }
  

.legalMove{
    opacity: 0.75;
    
}